
<div class="indexCont">

  <img class="beerImage"src="images/beer.png">
  <div class="btnCont">
    
    <button><a class="btn" href="/beers">Check the Beers</a></button>
    <button><a class="btn" href="/random-beers">Check a Random Beer!</a></button>
  </div>
  
</div>